module.exports = {
  pushover: {
    token: "XXXX",
    user: "YYYY",
    sound: "spacealarm",
    api_host: "api.pushover.net",
    api_path: "/1/messages.json",
    api_port: 443
  },

  signalfx: {
      token: "XXXX",
      api_host: "api.signalfx.com",
      api_path: "/v1/event",
      api_port: 443
  }
}
